<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('交易记录html打印')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body>

<div class="col-sm-12 select-table">
    <table id="bootstrap-table" class="table table-bordered" style="width: 600px; height: auto;"></table>
</div>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "position/accountPosition";
    var productTypeDatas = [[${@dict.getType('product_type')}]];

    $(function() {
        var options = {
            url: prefix + "/printToHtml",
            striped:true,
            pagination:false,
            search:false,
            showSearch:false,
            showRefresh:false,
            showToggle:false,
            showExport:false,
            showColumns:false,
            showPrint:false,
            cardView:false,
            detailView:false,
            modalName: "账户持仓",
            columns: [{
                checkbox: true
            },
                {
                    field: 'no',
                    title: '序号',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '用户ID'
                },
                {
                    field: 'accountId',
                    title: '账户ID'
                },
                {
                    field: 'productId',
                    title: '金融产品ID'
                },
                {
                    field: 'productType',
                    title: '产品类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(productTypeDatas, value);
                    }
                },
                {
                    field: 'productAssets',
                    title: '产品资产数额'
                },
                {
                    field: 'lastOrderTime',
                    title: '最近下单时间'
                }]
        };
        $.table.init(options);
    });


</script>
</body>
</html>