<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新闻管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>标题：</label>
                                <input type="text" name="title"/>
                            </li>
                            <li>
                                <label>作者：</label>
                                <input type="text" name="author"/>
                            </li>
                            <li>
                                <label>发布时间：</label>
                                <input type="text" class="time-input" placeholder="请选择发布时间" name="releaseTime"/>
                            </li>
                            <li>
                                <label>链接：</label>
                                <input type="text" name="link"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="finance_news:news_manage:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="finance_news:news_manage:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="finance_news:news_manage:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="finance_news:news_manage:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table">
                <table id="bootstrap-table" class="table table-bordered"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('finance_news:news_manage:edit')}]];
        var removeFlag = [[${@permission.hasPermi('finance_news:news_manage:remove')}]];
        var prefix = ctx + "finance_news/news_manage";
        function openNewsURL(newsURL){
            $.modal.openTab("新闻原文阅读", newsURL);
        }
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "新闻管理",
                rowStyle: function(row, index) {                         // 动态修改行的颜色
                    if(row.newsId %2 == 1 ){                                 // 如果值是1，表示已删除，设置行的颜色
                        return  {css:{"background-color":'#f2f8fd'}};
                    }
                    return '';                                           // 注意：即使不改变颜色，也得返回 '' ，否则会报错。
                },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'newsId',
                    title: '新闻id',
                    visible: false,
                    sortable:true
                },
                {
                    field: 'title',
                    title: '标题',
                    sortable:true
                },
                {
                    field: 'author',
                    title: '作者',
                    sortable:true
                },
                {
                    field: 'releaseTime',
                    title: '发布时间',
                    sortable:true
                },
                {
                    field: 'link',
                    title: '链接'
                },
                {
                    field: 'body',
                    title: '内容'
                },
                {
                    field: 'read',
                    title: '阅读数',
                    sortable:true
                },
                {
                    field: 'comment',
                    title: '评论数',
                    sortable:true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.newsId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.newsId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-danger btn-xs ' + '" href="javascript:void(0)" onclick="openNewsURL(\'' + row.link + '\')"><i class="fa fa-remove"></i>查看原文</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>