<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('行情查询图表')" />
    <th:block th:include="include :: datetimepicker-css" />
    <!-- bootstrap-table 表格插件样式 -->

</head>
<body class="white-bg">
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 800px;height:500px;"></div>
<script th:src="@{/js/echarts.js}"></script>

<<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    //var chartDom = document.getElementById('quotations-count-container');
    var myChart = echarts.init(document.getElementById('main'));

    // let cntList = [[${cntList}]];
    // console.log(cntList);
    //
    // let pIdList = [[${pIdList}]];
    // console.log(pIdList);

    var tempCntList = '[[${cntList}]]'.replace('[','').replace(']','').split(",");
    var tempPIDList = '[[${pIdList}]]';

    //转化为字符串数组和整数数组
    let pIdList = tempPIDList.replace('[','').replace(']','').split(",");
    let cntList = [];
    tempCntList.forEach(function(data,index,arr){
        cntList.push(+data);
    });

    console.log(pIdList);
    console.log(cntList);

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '涨幅前十产品统计'
        },
        tooltip: {},
        legend: {
            data: ['涨幅']
        },
        xAxis: {
            name: '产品名称',
            data: pIdList,
            axisLabel: { // 如果显示字符过长 就间隔1 设为0
                interval:0
            }
        },
        yAxis: {},
        series: [
            {
                name: '涨幅',
                type: 'bar',
                data: cntList
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>