<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('行情查询列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>代码：</label>
                                <input type="text" name="productId"/>
                            </li>
                            <li>
                                <label>名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>类型：</label>
                                <select name="type" th:with="type=${@dict.getType('product_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>最高价：</label>
                                <input type="text" name="maxPrice"/>
                            </li>
                            <li>
                                <label>最低价：</label>
                                <input type="text" name="minPrice"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="queryAddChart()" >
                    <i class="fa fa-bar-chart"></i> 统计图表
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="finance_query:finance_query:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-info" onclick="printToHtml()">
                    <i class="fa fa-bars"></i> 打印HTML
                </a>
                <a class="btn btn-primary" onclick="TransactionRecordList()">
                    <i class="fa fa-server"></i> 查看交易记录
                </a>

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('finance_query:finance_query:edit')}]];
        var removeFlag = [[${@permission.hasPermi('finance_query:finance_query:remove')}]];
        var typeDatas = [[${@dict.getType('product_type')}]];
        var prefix = ctx + "finance_query/finance_query";

        function queryAddChart() {
            //table.set();
            $.modal.open(table.options.modalName + "统计图表", "/finance_query/finance_query/chart");
        }

        function printToHtml(){
            $.modal.openFull(table.options.modalName + "打印", "/finance_query/finance_query/print");
        }
        function TransactionRecordList(){
            window.location.href = "/record/transaction_record"
        }
        function openFinanceForum(){
            window.location.href = "/finance_forum/homepage"
        }
        function getForumData() {
            let productID = localStorage.getItem("productId");
            $.table.search()

        }
        function collect(pId){
            var productId=pId;
            console.log(pId);
            var config = {
                url: "/finance_query/finance_query" + "/collect/" + productId,
                type: "post",
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍候...");
                    $.modal.disable();
                },
                success: function(result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.successCallback(result);
                }
            };
            $.ajax(config);
        }
        function kgraph(m){
            // 字符串处理，截取m前若干位
            //这里其实不需要传参，也可以在别的地方localStorage存储
            localStorage.setItem("MyproductID", m.substring(0,6));
            localStorage.setItem("Type", m.substring(6,7));
            table.set();
            $.modal.open("K线图", "/finance_query/finance_query/k_line_graph");
        }

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "行情查询",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '编号',
                    visible: false
                },
                {
                    field: 'productId',
                    title: '代码',
                    sortable: true
                },
                {
                    field: 'name',
                    title: '名称',
                    sortable: true
                },
                {
                    field: 'type',
                    title: '类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(typeDatas, value);
                    },
                    sortable: true
                },
                {
                    field: 'newPrice',
                    title: '最新价',
                    sortable: true
                },
                {
                    field: 'openPrice',
                    title: '开盘价'
                },
                {
                    field: 'yesterdayPrice',
                    title: '昨日结算'
                },
                {
                    field: 'maxPrice',
                    title: '最高价',
                    sortable: true
                },
                {
                    field: 'minPrice',
                    title: '最低价',
                    sortable: true
                },
                {
                    field: 'increase',
                    title: '涨幅',
                    sortable: true
                },
                {
                    field: 'increaseRate',
                    title: '涨速',
                    sortable: true
                },
                {
                    field: 'turnoverRate',
                    title: '换手率',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="kgraph(\'' + row.productId + row.type + '\')"><i class="fa fa-line-chart"></i>K线图</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="buy(\'' + row.productId + '\',\'' + row.type + '\',\'' + row.newPrice + '\')"><i class="fa fa-jpy"></i>买入</a>');
                        actions.push('<a class="btn btn-info btn-xs ' +  '" href="javascript:void(0)" onclick="collect(\'' + row.productId + '\')"><i class="fa fa-star"></i>收藏</a>');
                        actions.push('<a class="btn btn-warning btn-xs ' + '" href="javascript:void(0)" onclick="openFinanceForum(\'' + row.link + '\')"><i class="fa fa-comment"></i>查看论坛</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

         buy = function(pid, type, newPrice) {
             console.log(pid);
             localStorage.setItem("productId", pid);
             localStorage.setItem("productType", type);
             localStorage.setItem("productPrice", newPrice);
             console.log(pid);

             table.set();
             $.modal.open(table.options.modalName + "新增交易", "/finance_query/finance_query/addTransactionRecord")
        }
    </script>
</body>
</html>