<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('交易记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>账户ID：</label>
                                <input type="text" name="accountId" disabled="true"/>
                            </li>
                            <li>
                                <label>金融产品：</label>
                                <input type="text" name="productId" disabled="true"/>
                            </li>
                            <li>
                                <label>产品类型：</label>
                                <select name="productType" th:with="type=${@dict.getType('product_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>购买价格：</label>
                                <input type="text" name="productPrice" disabled="true"/>
                            </li>
                            <li>
                                <label>购买数量：</label>
                                <input type="text" name="productAmount" disabled="true"/>
                            </li>
                            <li>
                                <label>下单时间：</label>
                                <input type="text" class="time-input" placeholder="请选择下单时间" name="orderTime" disabled="true"/>
                            </li>
                            <li>
                                <label>交易方向：</label>
                                <select name="orderDirection" th:with="type=${@dict.getType('transaction_direction')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>交易方式：</label>
                                <select name="orderPattern" th:with="type=${@dict.getType('transaction_pattern')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>订单情况：</label>
                                <select name="orderSituation" th:with="type=${@dict.getType('transaction_situation')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" methods="post" onclick="addNewTransaction()">
                    <i class="fa fa-plus"></i> 进行交易
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="record:transaction_record:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="record:transaction_record:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="record:transaction_record:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-primary" onclick="printToHtml()">
                    <i class="fa fa-download"></i> 打印HTML
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('record:transaction_record:edit')}]];
        var removeFlag = [[${@permission.hasPermi('record:transaction_record:remove')}]];
        var productTypeDatas = [[${@dict.getType('product_type')}]];
        var orderDirectionDatas = [[${@dict.getType('transaction_direction')}]];
        var orderPatternDatas = [[${@dict.getType('transaction_pattern')}]];
        var orderSituationDatas = [[${@dict.getType('transaction_situation')}]];
        var prefix = ctx + "record/transaction_record";

        function addNewTransaction(){
            window.location.href = "/finance_query/finance_query"
        }
        function printToHtml(){
            $.modal.open(table.options.modalName + "打印", "/record/transaction_record/print");
        }

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "交易记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'orderId',
                    title: '订单ID',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '用户ID'
                },
                {
                    field: 'accountId',
                    title: '账户ID'
                },
                {
                    field: 'productId',
                    title: '产品编号'
                },
                {
                    field: 'productType',
                    title: '产品类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(productTypeDatas, value);
                    }
                },
                {
                    field: 'productPrice',
                    title: '成交价格'
                },
                {
                    field: 'productAmount',
                    title: '成交数量'
                },
                {
                    field: 'orderTime',
                    title: '下单时间'
                },
                {
                    field: 'orderDirection',
                    title: '交易方向',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orderDirectionDatas, value);
                    }
                },
                {
                    field: 'orderPattern',
                    title: '交易方式',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orderPatternDatas, value);
                    }
                },
                {
                    field: 'orderSituation',
                    title: '订单情况',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orderSituationDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.orderId + '\')"><i class="fa fa-handshake-o"></i>查看交易</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.orderId + '\')"><i class="fa fa-remove"></i>撤单</a>');
                        actions.push('<a class="btn btn-info btn-xs ' + '" href="javascript:void(0)" onclick="cancelTrading(\'' + row.orderId + '\')"><i class="fa fa-check"></i>撤单</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function cancelTrading(orderId) {
            var config = {
                url: "/record/transaction_record/cancel/" + orderId,
                type: "post",
                dataType: "json",
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍候...");
                    $.modal.disable();
                },
                success: function (result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.successCallback(result);
                }
            };
            $.ajax(config);
        }
    </script>
</body>
</html>