<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpts.system.mapper.SysPasswordResetMapper">
    
    <resultMap type="SysPasswordReset" id="SysPasswordResetResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="sessionId"    column="session_id"    />
        <result property="resetToken"    column="reset_token"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPasswordResetVo">
        select id, user_id, session_id, reset_token, create_time from password_reset
    </sql>

    <select id="selectPasswordResetList" parameterType="SysPasswordReset" resultMap="SysPasswordResetResult">
        <include refid="selectPasswordResetVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="sessionId != null  and sessionId != ''"> and session_id = #{sessionId}</if>
            <if test="resetToken != null  and resetToken != ''"> and reset_token = #{resetToken}</if>
        </where>
    </select>
    
    <select id="selectPasswordResetById" parameterType="Long" resultMap="SysPasswordResetResult">
        <include refid="selectPasswordResetVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPasswordReset" parameterType="SysPasswordReset" useGeneratedKeys="true" keyProperty="id">
        insert into password_reset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="sessionId != null and sessionId != ''">session_id,</if>
            <if test="resetToken != null and resetToken != ''">reset_token,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="sessionId != null and sessionId != ''">#{sessionId},</if>
            <if test="resetToken != null and resetToken != ''">#{resetToken},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePasswordReset" parameterType="SysPasswordReset">
        update password_reset
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="sessionId != null and sessionId != ''">session_id = #{sessionId},</if>
            <if test="resetToken != null and resetToken != ''">reset_token = #{resetToken},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePasswordResetById" parameterType="Long">
        delete from password_reset where id = #{id}
    </delete>

    <delete id="deletePasswordResetByIds" parameterType="String">
        delete from password_reset where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>