<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <script th:src="@{/js/echarts.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/jquery.cxselect.min.js}"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css?v=3.3.7" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css?v=4.7.0" rel="stylesheet"/>
    <!-- bootstrap-table 表格插件样式 -->
    <link href="/ajax/libs/bootstrap-table/bootstrap-table.min.css?v=1.18.3" rel="stylesheet"/>
    <link href="/css/animate.min.css?v=20210831" rel="stylesheet"/>
    <link href="/css/style.min.css?v=20210831" rel="stylesheet"/>
    <link href="/ruoyi/css/ry-ui.css?v=4.7.5" rel="stylesheet"/>
</head>

<body class="gray-bg" style="background-color: #e0f8f8">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">本日</span>
                    <h5>财经新闻</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">157</h1>
                    <div class="stat-percent font-bold text-success">44% <i class="fa fa-bolt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">本月</span>
                    <h5>金融产品</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">6,191</h1>
                    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">全年</span>
                    <h5>资金流通</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">40,200</h1>
                    <div class="stat-percent font-bold text-navy">98% <i class="fa fa-level-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!--					<a class="btn btn-primary btn-rounded btn-sm pull-right" onclick="searchWeather()"><i class="fa fa-search"></i>&nbsp;搜索该城市天气</a>-->
                    <span class="label label-warning pull-right" id="searchBtn" onclick="searchWeather()"><i
                            class="fa fa-search"></i></span>
                    <h5>天气&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h5>
                    <input type="text" id="searchCity" style="width: 50px"/>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="weather">阴，8-11℃</h1>
                    <!--                    <div class="stat-percent font-bold text-danger"><i class="fa fa-level-down"></i></div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>金融交易系统菜单指南</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="menuChart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>交易记录统计</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-bar-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>金融论坛or用户反馈（待完成）</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>属性1</th>
                            <th>属性2</th>
                            <th>属性3</th>
                            <th>属性4</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="todoItem:${todoList}" th:if="${todoItemStat.index} lt 4">
                            <td th:text="${todoItem.task}"><i class="fa fa-clock-o"></i></td>
                            <td th:text="${#dates.format(todoItem.endTime,'yyyy-MM-dd')}"><i
                                    class="fa fa-clock-o"></i>
                            </td>
                            <td th:if="${todoItem.state} eq 1"><span class="label label-success">进行中</span></td>
                            <td th:if="${todoItem.state} eq 0"><span class="label label-primary">已完成</span></td>
                            <td th:text="${todoItem.detail}"></td>
                        <tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>我的待办事项</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>任务</th>
                            <th>截止日期</th>
                            <th>状态</th>
                            <th>细节</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="todoItem:${todoList}" th:if="${todoItemStat.index} lt 4">
                            <td th:text="${todoItem.task}"><i class="fa fa-clock-o"></i></td>
                            <td th:text="${#dates.format(todoItem.endTime,'yyyy-MM-dd')}"><i
                                    class="fa fa-clock-o"></i>
                            </td>
                            <td th:if="${todoItem.state} eq 1"><span class="label label-success">进行中</span></td>
                            <td th:if="${todoItem.state} eq 0"><span class="label label-primary">已完成</span></td>
                            <td th:text="${todoItem.detail}"></td>
                        <tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>

<th:block th:include="include :: sparkline-js"/>
<script type="text/javascript">
    function searchWeather() {
        console.log("searchWeather");
        var city = document.getElementById("searchCity").value;
        // var city = "成都";
        console.log("city:" + city);
        document.getElementById("searchBtn").innerHTML = "<i class=\"fa fa-search\"></i>" + city;
        var url = "/weathers/cityWeathers/search/" + city;
        var myDate = new Date();
        $.post(url, function (data) {
            var str = data.weatherDay + ", " + data.temperatureLow + " - " + data.temperatureHigh + "度";
            console.log(data);
            console.log(str);
            document.getElementById("weather").innerText = str;
            document.getElementById("date").innerText = myDate.toLocaleDateString();
        });
    }

    function recordChart() {
        var CountByMonth = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        $.ajax({
            type: 'post',
            url: '/record/transaction_record/eCharts',
            async: false,
            success: function (res) {
                console.log(res);
                CountByMonth = res;
            }
        });
        var barChart = echarts.init(document.getElementById("echarts-bar-chart"));
        var baroption = {
            title: {
                text: '每月交易记录统计'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['交易次数']
            },
            grid: {
                x: 30,
                x2: 20,
                y2: 30
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: "交易记录次数",
                    type: 'bar',
                    data: CountByMonth,
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        barChart.setOption(baroption);
        // window.onresize = barChart.resize;
        window.addEventListener("resize", function () {
            barChart.resize();
        });
    }

    function menuChart() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('menuChart'));

        var data = {
            "name": "菜单",
            "children": [
                {
                    "name": "可视化大屏",
                },
                {
                    "name": "人物管理",
                    "children": [{"name": "用户管理"}, {"name": "实名认证"}, {"name": "角色管理"}, {"name": "在线用户"},]
                },
                {
                    "name": "系统管理",
                    "children": [{"name": "菜单管理"}, {"name": "通知公告"}, {"name": "登录日志"}, {"name": "操作日志"},]
                },
                {
                    "name": "财经新闻",
                    "children": [{"name": "新闻管理"},]
                },
                {
                    "name": "金融信息",
                    "children": [{"name": "数据仓库"}, {"name": "行情查询"}, {"name": "产品收藏"}, {"name": "金融论坛"},]
                },
                {
                    "name": "银行账户",
                    "children": [{"name": "账户管理"},]
                },
                {
                    "name": "资产交易",
                    "children": [{"name": "账户管理"}, {"name": "账户资产"}, {"name": "账户持仓"}, {"name": "交易记录"},]
                },
                {
                    "name": "待办事项",
                },
                {
                    "name": "天气管理",
                },
                {
                    "name": "用户反馈",
                },
            ]
        };

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '菜单树形图'
            },
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove'
            },
            series: [
                {
                    type: 'tree',
                    data: [data],

                    top: '10%',
                    left: '10%',
                    bottom: '10%',
                    right: '10%',

                    symbolSize: 7,

                    edgeShape: 'polyline',//控制是否为折线
                    edgeForkPosition: '63%',
                    initialTreeDepth: 3,

                    lineStyle: {
                        width: 2
                    },

                    label: {
                        backgroundColor: '#fff',
                        position: 'right',
                        verticalAlign: 'middle',
                        align: 'left'
                    },

                    // leaves: {
                    //     label: {
                    //         position: 'right',
                    //         verticalAlign: 'middle',
                    //         align: 'right'
                    //     }
                    // },

                    expandAndCollapse: true,
                    animationDuration: 550,
                    animationDurationUpdate: 750
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    }

    $(function () {
        recordChart();
        menuChart();
    });
</script>
</body>
</html>