<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>登录XM02-金融产品交易系统</title>
    <meta name="description" content="FPTS后台管理框架">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
<!--    <link href="../static/css/login.min.css" th:href="@{/css/login.min.css}" rel="stylesheet"/>-->
    <link href="../static/css/termOfUse.css" th:href="@{/css/termOfUse.css}" rel="stylesheet"/>
    <link href="../static/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css?v=4.7.3}" rel="stylesheet"/>
    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <style type="text/css">label.error { position:inherit;  }</style>
    <script>
        if(window.top!==window.self){alert('未登录或登录超时。请重新登录');window.top.location=window.location};
    </script>
</head>
<body class="signin">
<div class="article">
    <p class="smallHeader">欢迎使用FPTS金融信息服务为您提供的产品！</p>
    <strong><p>这只是一个作业，以下所有内容改编自互联网资源，仅供学习研究用，不具有任何法律效力，请在下载24小时内删除。</p></strong>
    <p>《FPTS金融信息服务使用许可协议》（以下简称“协议”或者“本协议”）解释权全权归属于浙江FPTS网络科技有限公司以及其关联公司（以下简称“FPTS”、“本公司”或者“公司”），请您务必认真阅读和理解本协议中规定的所有权利和限制。除非您接受本协议条款，否则您无权选择、购买、下载、安装或使用FPTS，同时，您一旦选择、购买、安装、复制、下载、访问或以其它方式使用了FPTS信息类产品，将视为对本协议的接受，即表示您同意接受本协议中各项条款的约束，否则请勿购买、下载、安装或使用FPTS。</p>
    <p class="tip"><strong>本协议是用户与FPTS之间关于用户选择、购买、下载、安装、使用、复制FPTS信息类产品的法律协议。</strong></p>
    <p class="middle">1、权利声明</p>
    <p>如无特殊说明或者明确标识来自第三方的信息，本公司提供的一切信息、服务、软件的所有知识产权，都归FPTS所有，包括但不限于：软件源代码、页面脚本代码、文字表述及其组合、图标、图饰、图像、图表、色彩、界面设计、版面框架、有关数据、附加程序、印刷材料或电子文档等，受著作权法和国际著作权条约以及其他知识产权法律法规的保护。</p>
    <p class="middle">2、许可范围</p>
    <p>明确标识免费产品的，用户可以进行自用的、非商业性、无限制数量地下载、安装及使用，但不得复制、分发。其他收费类产品或者信息，除遵守本协议规定之外，还须遵守专门协议的规定。如因信息复制、分发而产生的侵犯第三方著作权行为或者触犯法律的行为，用户必须承担全部责任；如因复制、分发而产生的侵犯FPTS某种权益的行为，FPTS享有追诉权利，即便FPTS不实施此等权利，但并不代表FPTS放弃此等权利。</p>
    <p class="middle">3、权利限制</p>
    <p>禁止反向工程、反向编译和反向汇编：用户不得对FPTS信息软件类产品进行反向工程（Reverse Engineer）、反向编译（Decompile）或反向汇编（Disassemble），同时不得改动编译程序文件内部的任何资源。除法律、法规明文规定允许上述活动外，用户必须遵守此协议限制。
    </p><p>组件分割：本软件产品是作为一个单一产品而被授予许可使用，用户不得将各个部分分开用于任何目的。</p>
    <p>个别授权：如需进行商业性的销售、复制、分发，包括但不限于软件销售、预装、捆绑等，必须获得FPTS的书面授权和许可。</p>
    <p>保留权利：本协议未明示授权的其他权利仍归FPTS所有，用户使用其他权利时必须获得FPTS的书面同意。</p>
    <p class="middle">4、免责条款</p>
    <p>FPTS作为面向全球投资人提供信息和服务的商家，对以下情况不承担相关责任
    </p><p>1）不可抗力：如因发生自然灾害、战争、第三方侵害等不可控因素而发生的信息、服务中断，FPTS不承担相应责任。</p>
    <p>2）信息网络传播：如因信息网络传播中的拥塞、断续、病毒木马、黑客窃取侦听等网络通道上的因素，而造成信息缺失、丢失、延迟、被篡改等，FPTS不对此承担相应责任。</p>
    <p>3）第三方信息的收集整理：FPTS为了更好地服务投资者，便于用户分析研判投资环境，尽可能多地收集整理来自第三方的所有信息，分门别类地提供给用户参考，并明确标识为来自第三方的信息，而对内容的真实性、合理性、完整性、合法性等并不承担判断责任，也不承担用户因信息而造成的损失责任。</p>
    <p>4）投资咨询信息：FPTS同时也是一家合规的投资咨询机构，针对收费用户提供的情况判断、投资参考、品种操作建议等等，均是FPTS按照自身对于市场环境的分析研判而做出的评论参考，用户可以结合自身需求予以借鉴，并自行作出判断， 风险和收益都由用户自行承担，FPTS有不承担风险和责任的权利和义务。若有人以FPTS名义作出投资承诺、保底收益及其他诸如此类的承诺，则请立刻举报。</p>
    <p>5）信息储存：用户在使用FPTS系统时，会因信息注册、产品购买、软件使用过程中的某些需求，而留存于系统中的账户、密码、真实身份、联系方式、自选股、用户网络信息等个人信息，FPTS将按照国家相关规定进行必要的保护，如因第三方侵害、国家权力机关调查等造成信息泄露，FPTS不承担法律责任，用户可自行维权。</p>
    <p>6）自身服务构架：FPTS建设于全国各个网络运营商、大中城市、交易所、券商中的信息服务网络，均按照国家及其行业要求进行7×24小时专人维护，如因网络故障、电力系统故障、硬件故障等FPTS不可抗拒因素造成服务暂时性中断的，FPTS有义务尽快重构和恢复服务，但是对中断服务造成的用户损失，不承担赔偿责任。</p>
    <p>7）自身权利受到侵害时：当用户违反本协议或者某产品附加的服务协议、合同，以及用户违反国家法律法规，对FPTS的信息系统进行不正当使用时，FPTS有权利单方终止服务并将违法、违规的用户信息提交给国家权力机关进行调查。</p><p></p>
    <p class="middle">5、隐私政策</p>
    <p>本“产品”尊重并保护用户的隐私。在用户在使用本“产品”的服务时，我们将按照本《隐私政策》收集和使用用户的相关信息。通过本《隐私政策》向用户说明如何收集、储存、使用、分享和保护这些信息。用户使用或继续使用本“产品”的服务，即意味着同意按照本《隐私政策》收集、储存、使用和分享用户的相关信息。</p>
    <p>（1）用户信息收集</p>
    <p>1）用户在注册账户或使用本“产品”时提供的相关个人信息，例如电话号码、电子邮件或证券账户号等。</p>
    <p>2）用户通过本“产品”的服务向其他方提供的共享信息，以及用户使用本“产品”服务时所储存的信息。</p>
    <p>3）用户的设备或软件信息，例如用户的PC设备、网页浏览器或用于接入本“产品”服务的其他程序所提供的配置信息、用户的IP地址和PC设备所用的版本和设备识别码。</p>
    <p>4）用户在使用本“产品”服务时搜索或浏览的信息，例如用户使用的网页搜索词语、访问的社交媒体页面url地址，以及用户在使用本“产品”服务时浏览或要求提供的其他信息和内容详情。</p>
    <p>5）用户的第三方的信息等。</p>
    <p>（2）用户信息使用</p>
    <p>1）用户使用本“产品”服务时，用于身份验证、客户服务、安全防范、诈骗监测、存档和备份用途，用以确保产品和服务的安全性。</p>
    <p>2）本“产品”在符合相关法律法规的前提下，为了让用户有更好的体验，本“产品”将通过收集的信息用以改善产品服务，例如，在用户使用本“产品”的一项服务时所收集的信息，可能在另一服务中用于向用户提供特定内容，或向用户展示与用户相关的、非普遍推送的信息。</p>
    <p>3）用户帮助本“产品”设计新服务、改善本“产品”现有服务及体验、反馈促销推广活动的效果时针对性地回应用户的个性化需求，本“产品”将予以评估并加以改善。</p>
    <p>4）经用户许可的其他用途。</p>
    <p>（3）用户信息管理</p>
    <p>1）本“产品”将尽一切可能采取适当的技术手段，保证用户可以访问、更新和更正自己的注册信息及其他个人信息。在访问、更新、更正和删除前述信息时，本“产品”可能会要求用户进行身份验证，以保障账户安全。</p>
    <p>（4）用户信息分享</p>
    <p>1）本“产品”涉及到的分享服务，可让用户不仅与自己的社交网络，也与使用该服务的所有用户公开分享用户的相关信息，例如，用户在本“产品”的服务中所上传或发布的信息（包括用户公开的个人信息、用户建立的名单）、用户对其他人上传或发布的信息作出的回应，以及包括与这些信息有关的位置数据和日志信息。只要用户不删除共享信息，有关信息会一直留存在公共领域；即使用户删除共享信息，有关信息仍可能由其他用户或不受本“产品”控制的非关联第三方独立地缓存、复制或储存，或由其他用户或该等第三方在公共领域保存。因此，请用户谨慎考虑通过本“产品”的服务上传、发布和交流的信息内容。</p>
    <p>2）某些个人信息因其特殊性可能被认为是敏感个人信息，例如用户的种族、宗教、个人健康和医疗信息等。相比其他个人信息，敏感个人信息受到更加严格的保护。</p>
    <p>3）用户在使用本“产品”的服务时所提供、上传或发布的内容和信息（例如有关用户社交活动的照片等信息），可能会泄露用户的敏感个人信息。用户需要谨慎地考虑，是否在使用本“产品”的服务时披露相关敏感个人信息。用户同意按本《隐私政策》所述的目的和方式来处理用户的敏感个人信息。</p>
    <p>4）本“产品”以及本“产品”的关联公司，可能将用户的个人信息与本“产品”的关联公司、合作伙伴及第三方服务供应商、承包商及代理分享（他们可能并非位于用户所在的法域），用作下列用途：向用户提供本“产品”的服务、实现“本“产品”可能如何使用信息”部分所述目的、履行本“产品”在《FPTS金融信息服务使用许可协议》或本《隐私政策》中的义务和行使本“产品”的权利、理解、维护和改善本“产品”的服务。</p>
    <p>5）如本“产品”或本“产品”的关联公司与任何上述第三方分享用户的个人信息，本“产品”将努力确保该等第三方在使用用户的个人信息时遵守本《隐私政策》及本“产品”要求其遵守的其他适当的保密和安全措施。随着本“产品”业务的持续发展，本“产品”以及本“产品”的关联公司有可能进行合并、收购、资产转让或类似的交易，用户的个人信息有可能作为此类交易的一部分而被转移。本“产品”将在转移前通知用户。</p>
    <p>6）本“产品”或本“产品”的关联公司基于遵守适用的法律法规、遵守法院命令或其他法律程序的规定、遵守相关政府机关的要求以及遵守适用的法律法规、维护社会公共利益，或保护本“产品”的客户、本“产品”或本“产品”的集团公司、其他用户或雇员的人身和财产安全或合法权益的情况下将合理按照需要保留、保存或披露用户的个人信息。</p>
    <p>（5）用户信息储存</p>
    <p>1）本“产品”，可能通过cookies、web beacon及其他技术方式收集和使用用户的信息，并将该等信息储存为日志信息，该信息将用于为用户提供更个性化的用户体验和服务，包括：记住用户的身份、分析用户使用本“产品”服务的情况、广告优化。</p>
    <p>2）本“产品”为上述目的使用cookies、web beacon及其他技术的同时，可能将通过收集的非个人身份信息，经统计加工后提供给广告商或其他合作伙伴，用于分析用户如何使用本“产品”的服务，并用于广告服务。</p>
    <p>（6）个人信息保护</p>
    <p>本“产品”非常重视用户的个人信息安全，本“产品”将使用各种安全技术和措施来保护用户的个人信息安全，并尽最大努力使用户的个人信息不会丢失、损毁或泄露，例如，在某些服务中，本“产品”将利用加密技术来保护用户提供的个人信息。但请用户理解，尽管有上述安全技术或措施，由于技术的限制或局限性以及其他超出本“产品”的控制范围的因素，本“产品”也不能始终保证信息百分之百的安全。</p>
    <p>（7）未成年人使用本“产品”的服务</p>
    <p>本“产品”建议用户请用户的监护人仔细阅读本《隐私政策》，并在征得用户的监护人同意的前提下使用本“产品”的服务。</p>
    <p>（8）政策修订</p>
    <p>本“产品”可能不定期修订本《隐私政策》的条款，变更后的《隐私政策》将通过在首页显著位置提示或以其他方式通知用户。在该种情况下，若用户继续使用本“产品”的服务，即表示同意受经修订的本《隐私政策》的约束。</p>
    <p class="middle">6、其他条款</p>
    <p>在用户使用中，FPTS有权在必要时修改本协议条款。您可以随时在本软件、本服务的最新版本中查阅相关协议条款。本协议条款变更后，如果您继续使用FPTS信息类产品，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用FPTS信息类产品。
    </p><p>本协议所定的任何条款的部分或全部无效者，不影响其它条款的效力。</p>
    <p>本协议签订地为中华人民共和国浙江省杭州市余杭区，本协议的解释、效力及纠纷的解决，适用于中华人民共和国法律。</p>
    <p>本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>
    <p>若本协议有中文、英文等多个语言版本，相应内容不一致的，均以中文版的内容为准。</p>
    <p>若用户和FPTS之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交本协议签订地人民法院管辖。</p><p></p>
</div>
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!--[if lte IE 8]><script>window.location.href=ctx+'html/ie.html';</script><![endif]-->
<!-- 全局js -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../static/ruoyi/js/ry-ui.js" th:src="@{/ruoyi/js/ry-ui.js?v=4.7.3}"></script>
<script src="../static/ruoyi/login.js" th:src="@{/ruoyi/login.js}"></script>
</body>
</html>
