<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('银行账户管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>用户ID：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>部门ID：</label>
                                <input type="text" name="deptId"/>
                            </li>
                            <li>
                                <label>用户银行账户ID：</label>
                                <input type="text" name="accountId"/>
                            </li>
                            <li>
                                <label>账户异常原因：</label>
                                <input type="text" name="accountSuspendReason"/>
                            </li>
                            <li>
                                <label>账户每日交易上限：</label>
                                <input type="text" name="accountDailyTransactionLimit"/>
                            </li>
                            <li>
                                <label>账户余额数值：</label>
                                <input type="text" name="accountBalance"/>
                            </li>
                            <li>
                                <label>账户货币单位：</label>
                                <input type="text" name="accountBalanceUnit"/>
                            </li>
                            <li>
                                <label>账户创建时间：</label>
                                <input type="text" class="time-input" placeholder="请选择账户创建时间" name="accountCreateTime"/>
                            </li>
                            <li>
                                <label>账户最后一次使用时间：</label>
                                <input type="text" class="time-input" placeholder="请选择账户最后一次使用时间" name="accountLastUsedTime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="bank_account_management:manage:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="bank_account_management:manage:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="bank_account_management:manage:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="bank_account_management:manage:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-info" onclick="printToHtml()">
                    <i class="fa fa-download"></i> 打印HTML
                </a>
                <a class="btn btn-success" onclick="accountInfoAddChart()" >
                    <i class="fa fa-bar-chart"></i> 统计图表
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('bank_account_management:manage:edit')}]];
        var removeFlag = [[${@permission.hasPermi('bank_account_management:manage:remove')}]];
        var idDatas = [[${@dict.getType('${column.dictType}')}]];
        var prefix = ctx + "bank_account_management/manage";

        function printToHtml(){
            $.modal.openFull(table.options.modalName + "打印", "/bank_account_management/manage/print");
        }

        function accountInfoAddChart() {
            $.modal.open(table.options.modalName + "统计图表", "/bank_account_management/manage/chart");
        }

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "银行账户管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '用户ID'
                },
                {
                    field: 'deptId',
                    title: '部门ID'
                },
                {
                    field: 'accountId',
                    title: '用户银行账户ID'
                },
                {
                    field: 'accountType',
                    title: '账户类型'
                },
                {
                    field: 'accountStatus',
                    title: '账户状态'
                },
                {
                    field: 'accountSuspendReason',
                    title: '账户异常原因'
                },
                {
                    field: 'accountDailyTransactionLimit',
                    title: '账户每日交易上限',
                    sortable: true
                },
                {
                    field: 'accountBalance',
                    title: '账户余额数值',
                    sortable: true
                },
                {
                    field: 'accountBalanceUnit',
                    title: '账户货币单位'
                },
                {
                    field: 'accountCreateTime',
                    title: '账户创建时间',
                    sortable: true
                },
                {
                    field: 'accountLastUsedTime',
                    title: '账户最后一次使用时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>