<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('角色管理打印预览')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body>

<div class="col-sm-12 select-table" style="text-align: center; ">
    <table id="bootstrap-table" class="table table-bordered" style="width: 600px; height: auto; margin: 0 auto;"></table>
</div>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "system/role";

    $(function() {
        var options = {
            url: prefix + "/printToHtml",
            modalName: "角色管理",
            // rowStyle: function(row, index) {                         // 动态修改行的颜色
            //     if(row.id %2 == 1 ){                                 // 如果值是1，表示已删除，设置行的颜色
            //         return  {css:{"background-color":'#f2f8fd'}};
            //     }
            //     return '';                                           // 注意：即使不改变颜色，也得返回 '' ，否则会报错。
            // },
            striped:true,
            pagination:false,
            search:false,
            showSearch:false,
            showRefresh:false,
            showExport:false,
            showColumns:false,
            showPrint:false,
            cardView:false,
            detailView:false,
            columns: [
            //     {
            //     checkbox: false
            // },
                {
                    field: 'id',
                    title: '编号',
                    visible: false,
                },
                {
                    field: 'roleId',
                    title: '角色编号',
                },
                {
                    field: 'roleName',
                    title: '角色名称',
                },
                {
                    field: 'roleKey',
                    title: '权限字符',
                },
                {
                    field: 'roleSort',
                    title: '显示顺序',
                },
                {
                    field: 'status',
                    title: '角色状态',
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                }
                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function(value, row, index) {
                //         var actions = [];
                //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                //         return actions.join('');
                //     }
                // }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>