<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>通用大数据可视化展示平台模板</title>
    <link href="../../static/css/comon0.css" th:href="@{/css/comon0.css}" rel="stylesheet"/>

    <script th:src="@{/js/echarts.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/china.js}"></script>
    <script th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/jquery.cxselect.min.js}"></script>
    <link href="/css/bootstrap.min.css?v=3.3.7" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css?v=4.7.0" rel="stylesheet"/>
    <!-- bootstrap-table 表格插件样式 -->
    <link href="/ajax/libs/bootstrap-table/bootstrap-table.min.css?v=1.18.3" rel="stylesheet"/>
    <link href="/css/animate.min.css?v=20210831" rel="stylesheet"/>
    <link href="/css/style.min.css?v=20210831" rel="stylesheet"/>
    <link href="/ruoyi/css/ry-ui.css?v=4.7.5" rel="stylesheet"/>

</head>
<body>
<div class="canvas">
    <iframe src="js/canvas.html" frameborder="0" style="width: 100%; height: 100%"></iframe>
</div>
<div class="loading">
    <div class="loadbox"><img src="images/loading.gif"> 页面加载中...</div>
</div>
<div style="overflow: hidden;background:rgba(0,0,40,0) ; position: relative; z-index: 2;">

    <div class="mainbox">
        <ul class="clearfix">
            <li>
                <div class="boxall" style="height:350px;">
                    <div class="alltitle">通知公告</div>
                    <div class="navboxall">
                        <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th scope="col">公告标题</th>
                                <th scope="col">发布时间</th>
                            </tr>
                            <tr th:each="noticeee:${notice}" th:if="${noticeeeStat.index} lt 4">
                                <td th:text="${noticeee.noticeTitle}"></td>
                                <td th:text="${noticeee.createTime}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="boxall" style="height: 350px">
                    <div class="alltitle">在线用户</div>
                    <div class="navboxall">
                        <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th scope="col">用户昵称</th>
                                <th scope="col">部门名称</th>
                                <th scope="col">IP地址</th>
                            </tr>
                            <tr th:each="onlineUser:${sysUserOnline}" th:if="${onlineUserStat.index} lt 6">
                                <td th:text="${onlineUser.loginName}"></td>
                                <td th:text="${onlineUser.deptName}"></td>
                                <td th:text="${onlineUser.ipaddr}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li>
                <div class="boxall" style="height:100px">
                    <div class="navboxall"><h1 style="color: white">金融交易管理系统数据展示</h1></div>
                </div>
                <div class="boxall" style="height:610px">
                    <div class="alltitle">上证指数</div>
                    <div class="navboxall" style="overflow: hidden;height: 100%" id="echart1">
                        <div style="width: 120%; height: 120%; position: relative; left: -10%; top: -11%;"></div>
                    </div>
                </div>

            </li>
            <li>
                <div class="boxall" style="height:350px">
                    <div class="alltitle">我的待办事项</div>
                    <div class="navboxall">
                        <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th scope="col">任务</th>
                                <!--                                        <th scope="col">截止日期</th>-->
                                <!--                                        <th scope="col">状态</th>-->
                                <th scope="col">细节</th>
                            </tr>
                            <tr th:each="todoItem:${todoList}" th:if="${todoItemStat.index} lt 4">
                                <td th:text="${todoItem.task}"></td>
                                <!--                                        <td th:text="${todoItem.endTime}"></td>-->
                                <!--                                        <td th:text="${todoItem.state}"></td>-->
                                <td th:text="${todoItem.detail}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="boxall" style="height:350px">
                    <div class="alltitle">论坛热点</div>
                    <div class="navboxall">
                        <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th scope="col">产品</th>
                                <!--                                        <th scope="col">截止日期</th>-->
                                <!--                                        <th scope="col">状态</th>-->
                                <th scope="col">讨论</th>
                            </tr>
                            <tr th:each="forumItem:${financeForum}" th:if="${forumItemStat.index} lt 6">
                                <td th:text="${forumItem.productId}"></td>
                                <!--                                        <td th:text="${todoItem.endTime}"></td>-->
                                <!--                                        <td th:text="${todoItem.state}"></td>-->
                                <td th:text="${forumItem.content}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="clearfix">
            <li style="width:60%">
                <div class="boxall" style="height:300px;">
                    <div class="alltitle">交易记录统计</div>
                    <div class="navboxall " id="echarts-bar-chart">

                    </div>
                </div>
            </li>
            <li style="width: 40%">

                <div class="boxall" style="height:300px">
                    <div class="alltitle">实名认证比例</div>
                    <div class="navboxall" id="echart4"></div>
                </div>
            </li>

        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.wrap,.adduser').liMarquee({
            direction: 'up',
            runshort: false,
            scrollamount: 20
        });
    });

    var myChart = echarts.init(document.getElementById('echart4'));

    let statusList = [[${statusList}]];

    let countList = [[${countList}]];

    option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        series: [{
            name: '占比情况',
            type: 'pie',
            radius: '50%',
            center: ['50%', '50%'],
            clockwise: false,
            data: [
                {value: countList[0], name: '已完成实名认证'},
                {value: countList[1], name: '未完成实名认证'},
            ],
            label: {
                normal: {
                    textStyle: {
                        color: 'rgba(255,255,255,.6)',
                        fontSize: 14,
                    }
                }
            },
            legend: {
                data: ['用户数量']
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            itemStyle: {
                normal: {
                    //borderWidth: 1,
                    //borderColor: '#ffffff',
                },
                emphasis: {
                    borderWidth: 0,
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }],
        color: ['#62c98d','#2f89cf','#4cb9cf'],
        //backgroundColor: '#fff'
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>


</body>
</html>
