<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <title>通用大数据可视化展示平台模板</title>
    <link href="../../static/css/comon0.css" th:href="@{/css/comon0.css}" rel="stylesheet"/>

    <script th:src="@{/js/echarts.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/china.js}"></script>
    <script th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/jquery.cxselect.min.js}"></script>
    <link href="/css/bootstrap.min.css?v=3.3.7" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css?v=4.7.0" rel="stylesheet"/>
    <!-- bootstrap-table 表格插件样式 -->
    <link href="/ajax/libs/bootstrap-table/bootstrap-table.min.css?v=1.18.3" rel="stylesheet"/>
    <link href="/css/animate.min.css?v=20210831" rel="stylesheet"/>
    <link href="/css/style.min.css?v=20210831" rel="stylesheet"/>
    <link href="/ruoyi/css/ry-ui.css?v=4.7.5" rel="stylesheet"/>

</head>
<body>
    <div class="canvas">
        <iframe src="js/canvas.html" frameborder="0" style="width: 100%; height: 100%"></iframe>
    </div>
    <div class="loading">
        <div class="loadbox"> <img src="images/loading.gif"> 页面加载中... </div>
    </div>
    <div style="overflow: hidden;background:rgba(0,0,40,0) ; position: relative; z-index: 2;">

        <div class="mainbox">
            <ul class="clearfix">
                <li>
                    <div class="boxall" style="height:350px;">
                        <div class="alltitle">上证指数</div>
                        <div class="navboxall" id="echart1">

                        </div>
                    </div>
                    <div class="boxall" style="height:360px;">
                        <div class="alltitle">标题样式</div>
                        <div class="navboxall">

                            <div class="sycm">
                                <ul class="clearfix">
                                    <li>
                                        <h2>1824</h2>
                                        <span>当年销售额</span>
                                    </li>
                                    <li>
                                        <h2>1920</h2>
                                        <span>当月销售额</span>
                                    </li>
                                    <li>
                                        <h2>19%</h2>
                                        <span>利润额</span>
                                    </li>

                                    <li>
                                        <h2>1824</h2>
                                        <span>当年销售额</span>
                                    </li>
                                    <li>
                                        <h2>1920</h2>
                                        <span>当月销售额</span>
                                    </li>
                                    <li>
                                        <h2>19%</h2>
                                        <span>利润额</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="boxall" style="height:100px">
                        <div class="navboxall"><h1>通用大数据可视化展示平台模板</h1></div>
                    </div>
                    <div class="boxall" style="height:610px">

                        <div class="navboxall" style="overflow: hidden;height: 100%">
                            <div style="width: 120%; height: 120%; position: relative; left: -10%; top: -11%;" id="echart3">

                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="boxall" style="height:350px">
                    <div class="alltitle">我的待办事项</div>
                    <div class="navboxall">
                        <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th scope="col">任务</th>
                                <!--                                        <th scope="col">截止日期</th>-->
                                <!--                                        <th scope="col">状态</th>-->
                                <th scope="col">细节</th>
                            </tr>
                            <tr th:each="todoItem:${todoList}" th:if="${todoItemStat.index} lt 6">
                                <td th:text="${todoItem.task}"></td>
                                <!--                                        <td th:text="${todoItem.endTime}"></td>-->
                                <!--                                        <td th:text="${todoItem.state}"></td>-->
                                <td th:text="${todoItem.detail}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <div class="boxall" style="height:350px">
                        <div class="alltitle">论坛热点</div>
                        <div class="navboxall">
                            <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <th scope="col">产品</th>
                                    <!--                                        <th scope="col">截止日期</th>-->
                                    <!--                                        <th scope="col">状态</th>-->
                                    <th scope="col">讨论</th>
                                </tr>
                                <tr th:each="forumItem:${financeForum}" th:if="${forumItemStat.index} lt 6">
                                    <td th:text="${forumItem.productId}"></td>
                                    <!--                                        <td th:text="${todoItem.endTime}"></td>-->
                                    <!--                                        <td th:text="${todoItem.state}"></td>-->
                                    <td th:text="${forumItem.content}"></td>
                                </tr>o
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="boxall" style="height: 360px">
                        <div class="alltitle">标题样式</div>
                        <div class="navboxall">
                            <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <th scope="col">排名</th>
                                        <th scope="col">名称</th>
                                        <th scope="col">金额</th>
                                    </tr>
                                    <tr>
                                        <td><span>1</span></td>
                                        <td>腾讯科技</td>
                                        <td>114万<br></td>
                                    </tr>
                                    <tr>
                                        <td><span>2</span></td>
                                        <td>百度公司</td>
                                        <td>923823万</td>
                                    </tr>
                                    <tr>
                                        <td><span>3</span></td>
                                        <td>新浪</td>
                                        <td>1240253万</td>
                                    </tr>
                                    <tr>
                                        <td><span>4</span></td>
                                        <td>网易</td>
                                        <td>1.2亿</td>
                                    </tr>
                                    <tr>
                                        <td><span>5</span></td>
                                        <td>雅虎</td>
                                        <td>13423万</td>
                                    </tr>
                                    <tr>
                                        <td><span>6</span></td>
                                        <td>雅虎</td>
                                        <td>13423万</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </li>
            </ul>
            <ul class="clearfix">
                <li style="width:60%">
                    <div class="boxall" style="height:450px;">
                        <div class="alltitle">交易记录统计</div>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>柱状图</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li><a href="#">选项1</a>
                                                    </li>
                                                    <li><a href="#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">

                                            <div class="echarts" id="echarts-bar-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li style="width: 40%">

                    <div class="boxall" style="height:450px">
                        <div class="alltitle">标题样式</div>
                        <div class="navboxall" id="echart4"></div>
                    </div>
                </li>

            </ul>

        </div>
    </div>
    <script>
        $(function () {
            $('.wrap,.adduser').liMarquee({
                direction: 'up',
                runshort: false,
                scrollamount: 20
            });
        });

    </script>
    <script> var ctx = "\/"; </script>
    <a id="scroll-up" href="#" class="btn btn-sm display"><i class="fa fa-angle-double-up"></i></a>
    <script src="/js/jquery.min.js?v=3.6.1"></script>
    <script src="/js/bootstrap.min.js?v=3.3.7"></script>
    <!-- bootstrap-table 表格插件 -->
    <script src="/ajax/libs/bootstrap-table/bootstrap-table.min.js?v=1.18.3"></script>
    <script src="/ajax/libs/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=1.18.3"></script>
    <script src="/ajax/libs/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js?v=1.18.3"></script>
    <!-- jquery-validate 表单验证插件 -->
    <script src="/ajax/libs/validate/jquery.validate.min.js?v=1.19.3"></script>
    <script src="/ajax/libs/validate/jquery.validate.extend.js?v=1.19.3"></script>
    <script src="/ajax/libs/validate/messages_zh.js?v=1.19.3"></script>
    <!-- bootstrap-table 表格树插件 -->
    <script src="/ajax/libs/bootstrap-table/extensions/tree/bootstrap-table-tree.min.js?v=1.18.3"></script>
    <!-- 遮罩层 -->
    <script src="/ajax/libs/blockUI/jquery.blockUI.js?v=2.70.0"></script>
    <script src="/ajax/libs/iCheck/icheck.min.js?v=1.0.3"></script>
    <script src="/ajax/libs/layer/layer.min.js?v=3.5.1"></script>
    <script src="/ajax/libs/layui/layui.min.js?v=2.7.5"></script>
    <script src="/ruoyi/js/common.js?v=4.7.5"></script>
    <script src="/ruoyi/js/ry-ui.js?v=4.7.5"></script>
    <script src="/ajax/libs/report/echarts/echarts-all.min.js?v=4.2.1"></script>
    <script type="text/javascript">
        $(function () {
            var CountByMonth = [0,0,0,0,0,0,0,0,0,0,0,0];
            $.ajax({
                type: 'post',
                url: '/record/transaction_record/eCharts',
                async: false,
                success: function(res) {
                    console.log(res);
                    CountByMonth = res;
                }
            });
            var barChart = echarts.init(document.getElementById("echarts-bar-chart"));
            var baroption = {
                title : {
                    text: '交易记录统计'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['交易次数']
                },
                grid:{
                    x:30,
                    x2:20,
                    y2:30
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:"交易记录次数",
                        type:'bar',
                        data: CountByMonth,
                        markPoint : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name: '平均值'}
                            ]
                        }
                    }
                ]
            };
            barChart.setOption(baroption);

            window.onresize = barChart.resize;

        });
    </script>


</body>
</html>
