<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增日志图表')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body>

<div class="col-sm-12 select-table" style="text-align: center; ">
    <table id="bootstrap-table" class="table table-bordered"
           style="width: 600px; height: auto; margin: 0 auto;"></table>
</div>

<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "monitor/logininfor";

    $(function () {
        var options = {
            url: prefix + "/printToHtml",
            modalName: "日志管理",
            striped: true,
            pagination: false,
            search: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showExport: false,
            showColumns: false,
            showPrint: false,
            cardView: false,
            detailView: false,
            columns: [
                {
                    field: 'infoId',
                    title: '访问编号',
                },
                {
                    field: 'loginName',
                    title: '登录名称',
                },
                {
                    field: 'ipaddr',
                    title: '登录地址',
                },
                {
                    field: 'loginLocation',
                    title: '登录地点',
                },
                // {
                //     field: 'browser',
                //     title: '浏览器',
                // },
                // {
                //     field: 'os',
                //     title: '操作系统',
                // },
                {
                    field: 'status',
                    title: '登录状态',
                    align: 'center',
                },
                {
                    field: 'msg',
                    title: '状态信息',
                },
                {
                    field: 'loginTime',
                    title: '登录时间',
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>